body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.tabs {
    text-align: center;
    margin: 20px;
}

.tablink {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    margin: 0 5px;
}

.tablink:hover {
    background-color: #ccc;
}

.tabcontent {
    margin: 20px 10px 20px 210px;
    text-align: center;
    font-size: 10px;
    font-family: NouvelR;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

thead {
    background-color: #f1f1f2;
    color: grey;
}

th, td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Hover effect for entire row */
tbody tr:hover {
    background-color: #fc3;
}

.active {
    background-color: #ccc;
}
.tablink.active {
    background-color: #ccc; /* Change this to your preferred color */
    font-weight: bold;
}
