body{
  background-color: #eeeeee;
}

header{
    border-bottom: 1px solid #92a8b6;
    background-color: #222;
    font-family: NouvelR;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}

.goUp{
    position: fixed;
    bottom: 5%;
    right: 5%;
    background-color: #eeeeee;
    color: #222;
    border: solid 1px #222;
    cursor: pointer;
    border-radius: 50px;
    overflow: hidden;
    font-size: 20px;
    padding: 20px;

}

.contr{
    max-width: 1070px;
    width: 100%;
    margin: 0 auto;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    padding: 13px 0;
}

.headerTitle{
    font-size: 18px;
    font-weight: 900;
    line-height: normal;
    color: #edf6fb;
    cursor: pointer;
    text-decoration: none;
}

.Subs > p{
    font-family: NouvelR;
    margin: 25px 0 10px 0;
}

.sub-item, .addSubButton{
    display: inline-flex;
    cursor: pointer;
    align-items: center;
    width: 100%;
    max-width: 324px;
    margin: 16px;
    padding: 16px;
    box-shadow: 0 4px 8px 0 rgba(38, 40, 42, .3);
    background-color: #fff;
    letter-spacing: .1px;
    color: white;
    font-family: NouvelR;
    box-sizing: border-box;
    border-right: 0px solid;
    transition: all 0.5s;
}

.icon-container {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 12px;
}

.icon-container i {
    color: white;
    font-size: 20px;
}
.issueItem .icon-container{
    background-color: #fc3;
}
.SubsIntern .icon-container{
    background-color: #fc3;
}
.SubsExtern .icon-container{
    background-color: #222;
}
.SubsOther .icon-container{
    background-color: rgb(51, 65, 255);
}

.SubsIntern .sub-item:hover{
    border-right: 7px solid #fc3;
}

.SubsExtern .sub-item:hover{
    border-right: 7px solid #222;
}

.SubsOther .sub-item:hover{
    border-right: 7px solid rgb(51, 65, 255);
}

.sub-id {
    font-weight: bold;
    margin: 0;
    width: 230px;
    white-space: nowrap;
    overflow-x: clip;
    text-overflow: ellipsis;
}

.SubsIntern .sub-id{
    color: #fc3;
}
.SubsExtern .sub-id{
    color: #222;
}
.SubsOther .sub-id{
    color: rgb(51, 65, 255);
}

.sub-label {
    color: black;
}
/* Initially hidden */
.followHeader {
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #ddd;
    font-family: NouvelR;
    display: none; /* Hide until needed */
}

/* Follow History: Centered like .contr */
.followHistory {
    max-width: 1070px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 13px 0;
    font-size: 12px;
    font-weight: bold;
    color: #333;
}

.history-link{
    color: grey;
    cursor: pointer;
}
.history-link:hover {
    text-decoration: underline;
}

/* Buttons */
.button-container {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
    margin-top: 50px;
}

.filter-btn {
    padding: 10px 20px;
    font-family: NouvelR;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.filter-btn:hover {
    background-color: #0056b3;
}


.subDescription{
    flex-grow: 1;
    margin-right: 24px;
    background-color: white;
    display: none; /* Initially hidden */
    padding: 15px 24px;
    box-shadow: 0 2px 8px 0 rgba(38, 40, 42, .1);
    border-radius: 2px;
    font-family: NouvelR;
    line-height: 1.5;
}
.subInfo{
    display: flex;
}

.subContact{
    background-color: white;
    box-shadow: 0 2px 8px 0 rgba(38, 40, 42, .1);
    display: none; /* Initially hidden */
    font-family: NouvelR;
    height: fit-content;
}

.contactHeader{
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    font-family: NouvelRBold;
    color: #fc3;
}

.subContactInfo{
    width: 310px;
    flex-shrink: 0;
    word-wrap: break-word;
    padding: 0 16px 16px 16px;
    overflow: hidden;
}
.contactInfoRow{
    display: flex;
    font-family: Lato, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: .1px;
    margin-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #9caabb;
}
.contactInfoRow p{
    font-family: NouvelRBold;
    margin: 0;
     width: 156px; 
    white-space: nowrap;
    overflow-x: clip;
    text-overflow: ellipsis;
}
.contactInfoRow input{
    font-family: NouvelRBold;
    width: 150px;
}
.contactInfoTitle{
    flex-shrink: 0;
    width: 150px;
    color: grey;
    font-family: NouvelR !important;
}

.descriptionContainer {
    display: flex;
    align-items: center;
    gap: 8px;
}
.descriptionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 10px;
}
.edit-icon {
    cursor: pointer;
    color: #222;
    font-size: 16px;
}

.descInput {
    width: 100%;
    height: 80px;
    font-size: 16px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.subIssues{
    margin-top: 44px;
    max-width: 1070px;
    width: 100%;
    margin: 0 auto;
    display: none;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    padding: 13px 0;
    font-family: NouvelR;
}

.issueHeader{
    padding: 20px 0;
    width: 100%;
    border-bottom: 1px solid #2c70a2;
    background-color: #222;
    box-shadow: 0 2px 8px 0 rgba(38, 40, 42, .3);
    color: #fff !important;
    text-align: center;
}
.issueItem{
    display: flex;
    padding: 24px 16px;
    border-bottom: 1px solid #99c4e4;
    background-color: #fff;
    box-shadow: 0 2px 8px 0 rgba(38, 40, 42, .3);
}
.preview__text{
    width: fit-content;
}
.preview__text p {
    margin: 0;
}
.preview__text h4{
    margin: 10px 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: .11px;
    color: #2c70a2;
}
.add-issue-btn{
    margin: 10px 0;
    padding: 10px 0;
    width: 100%;
    cursor: pointer;
    color: white;
    background-color: #222;
    box-shadow: 0 2px 8px 0 rgba(38, 40, 42, .3);
    text-align: center;
    font-family: NouvelRBold;
}
.addSubButton{
    justify-content: center;
}
.addSubButton .icon-container{
    outline: 2px solid #222;
    color: #222;
    /* font-size: 10px; */
}

.sub-description{
    color: black;
    width: 230px; 
    white-space: nowrap;
    overflow-x: clip;
    text-overflow: ellipsis;
}
.link{
    text-decoration: underline;
    color: #0056b3;
    cursor: pointer;
}

.save-btn{
    display: inline-block;
}
.tox{
    max-height: 700px;
}

.pdf-btn {
    background: #fc3;
    color: white;
    padding: 5px 10px;
    font-family: NouvelRBold;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 5px;
}
.pdf-btn:hover {
    background: #fc3;
}

.search_form{
    margin-top: 100px;
    background-color: #222;
    font-family: NouvelR;
}

.form-group{
    position: relative;
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 752px;
}

.form-group input{
    width: 100%;
    padding: 17px 16px 17px 56px;
    background-color: #fff;
    border-color: transparent;
    font-size: 14px;
    transition: all .3s ease;
}
.form-group .icon-search{
    padding: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 24px;
    display: flex;
    margin: auto;
    align-items: center;
}
.form-group .icon-search i{
    font-size: 20px;
}

.searchContent{
    max-width: 752px;
    margin: 0 auto;
    width: 100%;
}

.searchContent article{
    padding: 10px;
    margin-top: 10px;
    background-color: #fff;
}
.searchContent article p{
    margin: 2px 0;
    font-size: 10px;
}