body{
  min-height: 100vh;
  background-color: #eeeeee;
}
header{
    border-bottom: 1px solid #92a8b6;
    background-color: #222;
    font-family: NouvelR;
}
.contr{
    max-width: 1070px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    padding: 13px 0;
}
.headerTitle{
    font-size: 18px;
    font-weight: 900;
    line-height: normal;
    color: #edf6fb;
}
.Subs{
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.sub-item{
    display: inline-flex;
    align-items: center;
    width: 100%;
    max-width: 290px;
    margin: 16px;
    padding: 16px;
    box-shadow: 0 4px 8px 0 rgba(38, 40, 42, .3);
    background-color: #fff;
    letter-spacing: .1px;
    color: #2c70a2;
    transition: none;
    font-family: NouvelR;
}
.icon-container {
    width: 40px;
    height: 40px;
    background-color: #fc3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 12px;
}

.icon-container i {
    color: white;
    font-size: 16px;
    font-size: 20px;
}

.sub-id {
    font-weight: bold;
    color: #fc3;
}

.sub-label {
    color: black;
}
/* Initially hidden */
.followHeader {
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #ddd;
    font-family: NouvelR;
    display: none; /* Hide until needed */
}

/* Follow History: Centered like .contr */
.followHistory {
    max-width: 1070px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 13px 0;
    font-size: 12px;
    font-weight: bold;
    color: #333;
}


.history-link:hover {
    text-decoration: underline;
}

/* Buttons */
.button-container {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.filter-btn {
    padding: 10px 20px;
    font-family: NouvelR;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.filter-btn:hover {
    background-color: #0056b3;
}


.subDescription{
    flex-grow: 1;
    margin-right: 24px;
    background-color: white;
    display: none; /* Initially hidden */
    padding: 15px 24px;
    box-shadow: 0 2px 8px 0 rgba(38, 40, 42, .1);
    border-radius: 2px;
    font-family: NouvelR;
}

.subContact{
    background-color: white;
    box-shadow: 0 2px 8px 0 rgba(38, 40, 42, .1);
    display: none; /* Initially hidden */
    font-family: NouvelR;
}

.contactHeader{
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    font-family: NouvelRBold;
    color: #fc3;
}

.subContactInfo{
    width: 310px;
    flex-shrink: 0;
    word-wrap: break-word;
    padding: 0 16px 16px 16px;
}
.contactInfoRow{
    display: flex;
    font-family: Lato, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: .1px;
    margin-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #9caabb;
}
.contactInfoRow p{
    font-family: NouvelRBold;
}
.contactInfoTitle{
    flex-shrink: 0;
    width: 150px;
    color: grey;
    font-family: NouvelR !important;
}

.descriptionContainer {
    display: flex;
    align-items: center;
    gap: 8px;
}
.descriptionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 10px;
}
.edit-icon {
    cursor: pointer;
    color: blue;
    font-size: 16px;
}

.descInput {
    width: 100%;
    height: 80px;
    font-size: 16px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.saveBtn {
    margin-top: 8px;
    padding: 6px 12px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.saveBtn:hover {
    background-color: #218838;
}